@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    background-size: 1920px 1080px;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

#esquerda,
#direita {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 50px;
    color: black;
    font-family: 'Oswald', sans-serif;
}

#esquerda:hover,
#direita:hover {
    background-color: rgba(206, 226, 239, 0.1);

}

@media (min-width: 320px) and (max-width:425px) {
    body {
        background-size: 425px;
    }

    #esquerda,
    #direita {
        height: auto;
    }

}